/* Date - 25-04-2024 Time - 02:30 AM*?*/
/*CSS stands for Cascading Style Sheets and it is used for designing and responsiveness of web pages.*/
/*We Link the CSS file to the HTML file using the link tag in the head section of the HTML file.*/
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
.box{
    width: 20vw;
    height: 40vh;
    border: 2px solid black;
    overflow: scroll;
    /* overflow-x: hidden;
    overflow-y: scroll; */
    overflow: hidden auto;
    /* white-space: nowrap; */
    /* overflow: ellispsis; */
    /* text-overflow: ellipsis; */
    /* overlay: clip; */
}